<!DOCTYPE html>
<html lang="en">
  <head>
    {{>head}}
    <title>Team DZS</title>
    <link rel="stylesheet" type="text/css" href="/css/landing.css" />
  </head>
  <body>
    <div class="overlay" style="background: url('/images/ksucampus.jpg'); background-size: cover;">
      {{{body}}}
    </div>
  </body>
  <div id="loginFormAnchor" class="container"></div>
</html>
