<body>
  <div class="jumbotron">
    <div class="container">
      <h1>About Us</h1>
      <p>
      &nbsp;&nbsp;&nbsp;&nbsp;Thank you for visiting! Here we have an online resource for CIS students to receive help created by Team DZS - Daniel Bamba, Zach Cleary, and Sagar Mehta. We encourage you to post questions, answer questions, and help your fellow students using our live chat feature. Enjoy your stay!
      </p>
    <div class="container" style="text-align:center;">
      <a href="/contact" class="btn btn-default btn-lg" role="button"> Questions?</a>
    </div>
    </div>
  </div>
  <footer>
    <hr>
    <p>Team DZS</p>
  </footer>
</body>
