<body>
  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1>Contact Us!</h1>
      <p>
        If you have any comments, questions, or concerns please contact us and let us know! We will do our best to reply as quickly as possible and implement the changes necessary. We can be reached at any of the email addresses listed below. If you are unable to reach us on one feel free to try the others. Thanks again!
      </p>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>Daniel Bamba</h2>
          <a href="mailto:djbamba@live.com?subject=TeamDZS Suggestions&body=All questions, comments, and concerns are welcome!">Email Me</a>
        <div class="container">
          <figure>
            <img src="/images/terran.png" alt="terran" width="200" height="auto" style="border-radius:2em;">
          </figure>
        </div>
      </div>
      <div class="col-md-4">
        <h2>Zach Cleary</h2>
          <a href="mailto:zcleary1@ksu.edu?subject=TeamDZS Suggestions&body=All questions, comments, and concerns are welcome!">Email Me</a>
        <div class="container">
          <figure>
            <img src="/images/zerg.png" alt="zerg" width="200" height="auto">
          </figure>
        </div>
     </div>
      <div class="col-md-4">
        <h2>Sagar Mehta</h2>
        <a href="mailto:sagar5589@ksu.edu?subject=TeamDZS Suggestions&body=All questions, comments, and concerns are welcome!">Email Me</a>
        <div class="container">
          <figure>
            <img src="/images/protoss.png" alt="protoss" width="200" height="auto" style="border-radius:2em;">
          </figure>
        </div>
      </div>
    </div>
    <hr>
    <footer>
      <p>Team DZS</p>
    </footer>
  </div>
</body>
