<div id="container" style="margin: 75px auto 0 auto;">
  <h1 id="login_header">Wildcat Tutors</h1>
  <h2 id="login_subheader">Please <span><a id="signinBtn">sign in</a></span> or <span><a id="signupBtn">sign up</a></span> to continue...</h2>
  <h3 id="login_message" style="font-weight:bold;">{{#if message}}{{message}}{{else}}{{/if}}</h3>
</div>
<script defer type="text/javascript" src="/landing.js"></script>
