<div class ="alert alert-danger center-block text-center">
    {{message}}<hr/>
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <a class="glyphicon glyphicon-home center-block" role="button" href="/home"></a>
        </div>
    </div>
</div>
